html {
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    padding: 60px 0;
    overflow-x: hidden;
}

.sidebar ul {
    margin: 10px 0;
}

#absolute-alert {
    position: fixed;
    z-index: 5000;
    margin: auto;
    top: 30px;
    left: 0;
    right: 0;
    width: 60%;
    display: none;
}

.nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus {
    color: white;
    background-color: #428bca;
    border-radius: 3px;
}

.main-view {
    display: none;
}
