#view-music-sort-box {
    float: right;
    margin-bottom: 10px;
}

#view-music-sort-btn {
    width: 100%;
    text-align: right;
}

#view-music .list-group-item:nth-child(2) {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#view-music .list-group-item.dummy {
    border-radius: 4px;
}