
#playbar .glyphicon {
    font-size: 1.5em;
    display: inline;
    color: #ff7043;
}

#playbar-xs-btn-row .mode-icon {
    font-size: 1em !important;
    vertical-align: middle;
}

#playbar-title-slider-box {
    color: #9d9d9d;
    flex-grow: 1;
}

#playbar-slider-progress-box {
    display: flex;
}

#playbar-container {
    display: flex;
    flex-direction: row;
}

#playbar-title {
    color: #dddddd;
}

#playbar-titlebar {
    padding: 0;
    text-align: center;
}

#playbar-slider {
    margin: 0 15px;
    flex-grow: 1;
}

#playbar .inactive {
    color: #9d9d9d;
}

#playbar-xs-btn-row {
    display: flex;
    justify-content: center;
}